.divider-line {
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}
.divider-line-customs {
width: 100%;
max-width: 5.8rem;
height: 0.25rem;
background-color: rgb(255, 5, 5);



}
.divider-line-icon {
margin: 0 1rem;
font-size: 1.8rem;
}
.cover-wrapper {
position: relative;
}

.cover-img:hover {

    opacity: 1;
}
.cover-wrapper {
    position: relative;
  }
  .cover-img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(26, 188, 156, 0.7);
  }
  .cover-img:hover {
    opacity: 1;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
 

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


